<h1>Question List</h1>
<% @question.each do |x| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to x.title, x %>
            </h4>
        </div>
    </div>
<% end %>
