<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>You're following "<%= @post.title %>". You'll receive notifications on this favorite so long as you leave it favorited. To turn these off, follow this link: <%= link_to"post", topic_post_url(@post.topic, @post) %>.</h1>
        <p>
            <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
        </p>
    </body>
</html>